.Subscribe-button {
    background-color: rgb(194, 14, 14);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity .15s;
}

.Subscribe-button:hover {
  opacity: 0.8;

}

.Subscribe-button:active {
opacity: 0.6;

}
.Join-button {
  background-color: white;
  border-color: rgb(70, 70, 255);
  border-style: solid;
  border-width: 1px;
  color: rgb(51, 119, 255);
  height: 36px;
  width: 60px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color .15s , color .15s
}

.Join-button:hover {
  background-color:rgb(51, 119, 255) ;
  color: white;

}

.Join-button:active {
  opacity: .7;
}



.Tweet-button {
  background-color: rgb(0, 183, 255);
  border: none;
  color: white;
  height: 32px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.15s;
  

}
.Tweet-button:hover {
  box-shadow: 5px 5px 10px 
  rgba(0, 0, 0, 0.15);
}


.Uber-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 1px;
  height: 36px;
  width: 110px;
  font-size: 12px ;
  cursor: pointer;
  transition: opacity .15s;

}
.Uber-button:hover {
  opacity: .8;
}


.Amazon-button {
  background-color: rgb(255, 216, 20);
  color: black;
  height: 34px;
  width: 200px;
  border: none;
  border-radius: 17px;
  font-size: 15px;
  font-style: bold;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity .15s;
  
}

.Amazon-button:hover {
  opacity: 1;
}
.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  height: 36px;
  width: 95px;
  border: none;
 border-radius: 5px;
 font-size: 15px;
 font-weight: bold;
 cursor: pointer;
 transition: box-shadow .15s;
}
.github-button:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.bootstrap-1 {
  background-color: rgb(121, 82, 179);
 border: none;
 height: 36px;
 width: 105px;
 color: white;
 border-radius: 3px;
 cursor: pointer;
 font-size: 12px;
 opacity: .9;
}
.bootstrap-1:hover {
  opacity: 1;
}
.bootstrap-2 {
  background-color: rgb(254, 250, 250, 0.989);
  border-color: rgb(130, 33, 204);
  border-style: solid;
  height: 36px;
  width: 105px;
  border-radius: 3px;
  border-width: 1px;
  color: rgb(104, 76, 146);
  font-weight: bold;
  cursor: pointer;
  transition: background-color .20s , color .20s;

}
.bootstrap-2:hover {
  background-color: rgba(149, 126, 183, 0.788) ;
  color:rgb(254, 250, 250, 0.989) ;
}
.linkedin-1 {
  background-color: rgb(10, 102, 194);
  border: none;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 220px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color .2s;

}

.linkedin-1:hover {
  background-color: rgba(40, 40, 136, 0.922);

}
.linkedin-2 {
  background-color: white;
  border-width: 1px;
  border-color: rgba(0, 98, 255, 0.888);
  color: rgba(0, 98, 255, 0.888);
  border-style: solid;
  height: 36px;
  width: 75px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 18px;
  cursor: pointer;
  transition: border-width .2s , background-color .2s;


}
.linkedin-2:hover {
  border-width: 2px;
  background-color: rgb(215, 218, 251);
}


